{% extends 'base.html' %}

{% block title %} Contracciami {% endblock %}
{% block content %}

<h1>Benvenuto {{username|safe}}!</h1>
<br><br>
{% if positive %}
<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
  <div class="card-header">Attenzione</div>
  <div class="card-body">
    <h4 class="card-title">Sei già positivo!</h4>
  </div>
</div>
{% else %}
{% if prob >= 0.85 %}
<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
  <div class="card-header">Probabilità di contagio</div>
  <div class="card-body">
    <h4 class="card-title">Molto alta</h4>
    <p class="card-text"> {{prob| cut_prob}} </p>
  </div>
</div>
{% elif (prob >= 0.6) and (prob < 0.85) %}
<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
  <div class="card-header">Probabilità di contagio</div>
  <div class="card-body">
    <h4 class="card-title">Alta</h4>
    <p class="card-text"> {{prob| cut_prob}} </p>
  </div>
</div>
{% elif (prob >= 0.4) and (prob < 0.6) %}
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Probabilità di contagio</div>
  <div class="card-body">
    <h4 class="card-title">Media</h4>
    <p class="card-text"> {{prob| cut_prob}} </p>
  </div>
</div>
{% else %}
<div class="card bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">Probabilità di contagio</div>
  <div class="card-body">
    <h4 class="card-title">Bassa</h4>
    <p class="card-text"> {{prob| cut_prob}} </p>
  </div>
</div>
{% endif %}
{% endif %}

<br><br>

<form action="{{ url_for('insert_positive') }}" method="POST">
    <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="id_pos">Id dell'utente</label>
        <input class="form-control form-control-lg" type="text" placeholder="ID" id="id_pos" name="id">
        <label class="col-form-label col-form-label-lg" for="id_pos_date">Data tampone</label>
        <input class="form-control form-control-lg" type="datetime-local" id="id_pos_date" name="date">
    </div>
    <input type="submit" value="Inserisci"
            class="btn btn-danger btn-sm">
</form>
<br><br>
<a href="{{ url_for('view_users') }}" class="btn btn-link">Visualizza tutti gli utenti</a>
<a href="{{ url_for('view_nodes') }}" class="btn btn-link">Visualizza tutti i nodi place</a>
<a href="{{ url_for('view_red_nodes') }}" class="btn btn-link">Visualizza tutti i nodi rossi</a>
<br><br>
<form action="{{ url_for('clean_green_nodes') }}" method="POST">
    <div class="form-group">
    <input type="submit" value="Elimina nodi verdi"
            class="btn btn-success btn-sm">
    </div>
</form>
<form action="{{ url_for('clean_user_green_nodes') }}" method="POST">
    <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="id_pos">Inserire ID dell'utente di cui elimnare i nodi verdi:</label>
        <input class="form-control form-control-lg" type="text" placeholder="ID" id="id_pos" name="id">
        <input type="submit" value="Elimina"
                class="btn btn-primary btn-sm">
    </div>
</form>
<br><br>
<form action="{{ url_for('clean_red_nodes') }}" method="POST">
    <div class="form-group">
    <input type="submit" value="Elimina nodi rossi"
            class="btn btn-danger btn-sm">
    </div>
</form>
<form action="{{ url_for('reset_all_users') }}" method="POST">
    <div class="form-group">
    <input type="submit" value="Reset utenti"
            class="btn btn-primary btn-sm">
    </div>
</form>
<form action="{{ url_for('reset_user') }}" method="POST">
    <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="id_pos">Inserire ID dell'utente da resettare:</label>
        <input class="form-control form-control-lg" type="text" placeholder="ID" id="id_pos" name="id">
        <input type="submit" value="Reset"
            class="btn btn-primary btn-sm">
    </div>
</form>
<br><br>
<form action="{{ url_for('clean_user') }}" method="POST">
    <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="id_pos">Inserire ID dell'utente da eliminare:</label>
        <input class="form-control form-control-lg" type="text" placeholder="ID" id="id_pos" name="id">
        <input type="submit" value="Elimina"
            class="btn btn-primary btn-sm">
    </div>
</form>
<br><br>
<form action="{{ url_for('download_generated_takeout') }}" method="POST">
    <div class="form-group">
    <input type="submit" value="Scarica un takeout generato"
            class="btn btn-danger btn-sm">
    </div>
</form>
<br><br>
<form action="{{ url_for('load_takeout') }}" method="POST" enctype=multipart/form-data>
    <div class="form-group">
      <label for="exampleInputFile">Inserisci il file</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" name="file">
      <small id="fileHelp" class="form-text text-muted">Il file deve essere un Google Takeout in formato Json</small>
    </div>
    <input type="submit" value="Carica"
            class="btn btn-danger btn-sm">
</form>
<br><br>
{% endblock %}