{% extends 'base.html' %}

{% block title %} Contracciami {% endblock %}
{% block content %}
<h1>Benvenuto {{username|safe}}!</h1>
<br><br>
<h1>Probabilità di infezione degli utenti</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Codice Fiscale</th>
                <th scope="col">Email</th>
                <th scope="col">Positivo</th>
                <th scope="col">Data tampone</th>
                <th scope="col">Data più vecchia di probabile contagio</th>
                <th scope="col">Probabilità</th>
                <th scope="col">Avviso</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr {% if item[1] >= 0.85 %} class="table-danger" {% endif %}
                {% if (item[1] >= 0.6) and (item[1] < 0.85) %} class="table-warning" {% endif %}
                {% if (item[1] >= 0.4) and (item[1] < 0.6) %} class="table-primary" {% endif %}
                {% if item[1] < 0.4 %} class="table-active" {% endif %}>
                <th scope="row">{{item[0].id}}</th>
                <td>{{item[0].username}}</td>
                <td>{{item[0].cf}}</td>
                <td>{{item[0].email}}</td>
                <td>{{item[0].positive | pos_translation}}</td>
                <td>{{item[0].test_date | ctime}}</td>
                <td>{{item[0].oldest_risk_date | ctime}}</td>
                <td>{{item[1] | cut_prob}}</td>
                <td>
                    <form action="{{ url_for('warn_user') }}" method="POST">
                        <input type="hidden" value="{{item[0].id}}" name="id">
                        <button type="submit" class="btn btn-warning btn-sm">Manda avviso</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}