{% extends 'base.html' %}

{% block title %} Utenti {% endblock %}
{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Codice fiscale</th>
                <th scope="col">Username</th>
                <th scope="col">Positivo</th>
                <th scope="col">Data tampone</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr class="table-active">
                <th scope="row">{{u.id}}</th>
                <td>{{u.cf}}</td>
                <td>{{u.username}}</td>
                <td>{{u.positive}}</td>
                <td>{{u.test_date | ctime}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}