{% extends 'base.html' %}

{% block title %} Contracciami {% endblock %}
{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Probabilità</th>
                <th scope="col">Inizio</th>
                <th scope="col">Latitudine</th>
                <th scope="col">Longitudine</th>
                <th scope="col">Fine</th>
                <th scope="col">PlaceId</th>
            </tr>
        </thead>
        <tbody>
            {% for node in red_nodes %}
            <tr class="table-success">
                <th scope="row">{{node.prob}}</th>
                <td>{{node.start}}</td>
                <td>{{node.lat}}</td>
                <td>{{node.long}}</td>
                <td>{{node.finish}}</td>
                <td>{{node.placeId}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}